<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <title>员工注册</title>
    <link rel="icon" href="../../resource/image/icon.png">
    <link rel="stylesheet" href="../../resource/layui/css/layui.css">
    <link rel="stylesheet" type="text/css" href="../css/add.css">
    <link rel="stylesheet" type="text/css" href="../css/public.css">
</head>
<body>
<div class="divForm addStaffForm">
    <form class="layui-form layui-form-pane personalForm" action="" method="post">
        <div class="layui-form-item">
            <label class="layui-form-label">员工编号</label>
            <div class="layui-input-inline">
                <label>
                    <input type="text" class="layui-input staffId layui-disabled" name="staffId"
                           placeholder="请输入员工编号" autocomplete="off" disabled>
                    <div class="layui-form-mid layui-word-aux">（由系统生成）</div>
                </label>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">员工姓名</label>
            <div class="layui-input-inline">
                <label>
                    <input type="text" class="layui-input name" name="name" lay-verify="required"
                           placeholder="请输入员工姓名" autocomplete="off">
                </label>
            </div>
        </div>
        <br>
        <div class="layui-form-item">
            <label class="layui-form-label">身份证号码</label>
            <div class="layui-input-inline">
                <label>
                    <input type="text" class="layui-input idNumber" name="idNumber" lay-verify="required"
                           placeholder="请输入身份证号码" autocomplete="off">
                </label>
            </div>
        </div>
        <br>
        <div class="layui-form-item">
            <label class="layui-form-label">性别</label>
            <div class="layui-input-inline">
                <label>
                    <input type="text" class="layui-input sex" name="sex" lay-verify="required"
                           placeholder="请输入性别" autocomplete="off">
                </label>
            </div>
        </div>
        <br>
        <div class="layui-form-item">
            <label class="layui-form-label">类别</label>
            <div class="layui-input-inline">
                <label>
                    <input type="text" class="layui-input type" name="type" lay-verify="required"
                           placeholder="请输入员工分类" autocomplete="off">
                </label>
            </div>
        </div>
        <br>
        <div class="layui-form-item">
            <label class="layui-form-label">用户名</label>
            <div class="layui-input-inline">
                <label>
                    <input type="text" class="layui-input userName" name="userName" lay-verify="required"
                           placeholder="请输入用户名" autocomplete="off">
                </label>
            </div>
        </div>
        <br>
        <div class="layui-form-item">
            <label class="layui-form-label">用户密码</label>
            <div class="layui-input-inline">
                <label>
                    <input type="text" class="layui-input password" name="password" lay-verify="required"
                           placeholder="请输入用户密码" autocomplete="off">
                </label>
            </div>
        </div>
        <br>
        <div class="layui-form-item">
            <label class="layui-form-label">注册码</label>
            <div class="layui-input-inline">
                <label>
                    <input type="text" class="layui-input identity" name="identity"
                           placeholder="注册管理员请输入注册码" autocomplete="off">
                </label>
            </div>
        </div>
        <br>
        <div class="layui-form-item botton">
            <div class="layui-input-inline">
                <button type="submit" class="layui-btn" lay-submit="" lay-filter="set">确认</button>
                <button type="reset" class="layui-btn layui-btn-danger right">重置</button>
            </div>
        </div>
    </form>
</div>

<script src="../../resource/layui/layui.js"></script>
<script src="../js/address.js"></script>
<script>
    layui.use(['form', 'layedit', 'laydate'], function () {
        var form = layui.form,
            layer = layui.layer,
            $ = layui.jquery;
        var identity,type;

        //监听提交
        form.on('submit(set)', function (data) {
            layer.alert(JSON.stringify(data.field), {
                title: '最终的提交信息'
            }, function (index) {
                if (data.field.identity === "asdfg") {    //验证注册码，如果正确则是管理员
                    identity = "管理员";
                    type = "管理员";
                } else {
                    identity = "自由职业者";
                    type = data.field.type;
                }

                $.post(address + "LaborDispatching/user/staffRegister", {
                    staffId : data.field.staffId,
                    name : data.field.name,
                    idNumber : data.field.idNumber,
                    sex : data.field.sex,
                    identity : identity,
                    type : type,
                    userName : data.field.userName,
                    password : data.field.password
                }, function(json){
                    var jsonObj = JSON.stringify(json);    //将json对象转换为字符串
                    jsonObj = eval('(' + jsonObj + ')');  // 把JSON字符串解析为javascript对象
                    layer.msg(jsonObj.msg);
                    if (jsonObj.msg === "添加成功") {
                        setTimeout(function(){
                            var html = decodeURI(parent.location.href.split('/')[parent.location.href.split('/').length - 1]);
                            if (html === "staffRegister.html") {  //若为注册页面则注册成功返回登录
                                window.location.href = "../html/login.html";
                            } else {  //否则为管理员增加员工信息
                                layer.close(index);
                                layer.closeAll("iframe");
                                parent.location.reload();
                            }
                        },1000);
                    }
                });
            });
            return false;
        });

    });
</script>
</body>
</html>