<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yutongdxTop.LaborDispatching.mapper.ContactMapper">
  <resultMap id="BaseResultMap" type="com.yutongdxTop.LaborDispatching.domain.pojo.Contact">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="staff_id" jdbcType="VARCHAR" property="staffId" />
    <result column="contact_details" jdbcType="VARCHAR" property="contactDetails" />
    <result column="contact_value" jdbcType="VARCHAR" property="contactValue" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, staff_id, contact_details, contact_value
  </sql>
  <select id="selectByExample" parameterType="com.yutongdxTop.LaborDispatching.domain.pojo.ContactExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from contact
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from contact
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from contact
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.yutongdxTop.LaborDispatching.domain.pojo.ContactExample">
    delete from contact
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.yutongdxTop.LaborDispatching.domain.pojo.Contact">
    insert into contact (id, staff_id, contact_details, 
      contact_value)
    values (#{id,jdbcType=VARCHAR}, #{staffId,jdbcType=VARCHAR}, #{contactDetails,jdbcType=VARCHAR}, 
      #{contactValue,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.yutongdxTop.LaborDispatching.domain.pojo.Contact">
    insert into contact
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="staffId != null">
        staff_id,
      </if>
      <if test="contactDetails != null">
        contact_details,
      </if>
      <if test="contactValue != null">
        contact_value,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="staffId != null">
        #{staffId,jdbcType=VARCHAR},
      </if>
      <if test="contactDetails != null">
        #{contactDetails,jdbcType=VARCHAR},
      </if>
      <if test="contactValue != null">
        #{contactValue,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.yutongdxTop.LaborDispatching.domain.pojo.ContactExample" resultType="java.lang.Long">
    select count(*) from contact
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update contact
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=VARCHAR},
      </if>
      <if test="record.staffId != null">
        staff_id = #{record.staffId,jdbcType=VARCHAR},
      </if>
      <if test="record.contactDetails != null">
        contact_details = #{record.contactDetails,jdbcType=VARCHAR},
      </if>
      <if test="record.contactValue != null">
        contact_value = #{record.contactValue,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update contact
    set id = #{record.id,jdbcType=VARCHAR},
      staff_id = #{record.staffId,jdbcType=VARCHAR},
      contact_details = #{record.contactDetails,jdbcType=VARCHAR},
      contact_value = #{record.contactValue,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.yutongdxTop.LaborDispatching.domain.pojo.Contact">
    update contact
    <set>
      <if test="staffId != null">
        staff_id = #{staffId,jdbcType=VARCHAR},
      </if>
      <if test="contactDetails != null">
        contact_details = #{contactDetails,jdbcType=VARCHAR},
      </if>
      <if test="contactValue != null">
        contact_value = #{contactValue,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.yutongdxTop.LaborDispatching.domain.pojo.Contact">
    update contact
    set staff_id = #{staffId,jdbcType=VARCHAR},
      contact_details = #{contactDetails,jdbcType=VARCHAR},
      contact_value = #{contactValue,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>